.root h1 {
  font-family: Barlow-Italic;
  margin: 10px 0;
  font-weight: 400;
  text-align: center;
}
.root img {
  height: 250px;
  width: 150px;
  margin: 20px auto;
}
.author {
  margin: 10px auto;
  text-align: center;
}
.description {
  max-width: 500px;
  text-align: justify;
  padding: 0 16px;
  margin: 20px auto;
}
.Btns {
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.Btns button {
  width: 100%;
  margin: 0 5px;
}
