html,
body {
  padding: 0;
  margin: 0;
  font-family: Libre-Caslon-Regular, Roboto, Helvetica Neue, sans-serif;
  background: #E5E5E5;
}

h1,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Font Family */
@font-face {
  font-family: "Libre-Caslon-Regular";
  src: url(/fonts/LibreCaslonText-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Libre-Caslon-Italic";
  src: url(/fonts/LibreCaslonText-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Libre-Caslon-Bold";
  src: url(/fonts/LibreCaslonText-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Niconne-Regular";
  src: url(/fonts/Niconne-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
