.logo {
  font-family: Niconne-Regular;
  margin: 0;
  font-size: 28px;
}
.navHeader {
  background: #14213d;
  max-height: 65px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 24px;
  z-index: 99999;
}
.navHeader div {
  display: flex;
}
.navLink {
  margin-right: 35px;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  display: flex;
}
.navLink svg {
  margin-right: 5px;
}
.navLink:hover {
  color: #FFA500;
}
.headerImg {
  min-height: 75vh;
  max-height: 90vh;
  position: absolute;
}
.header {
  position: relative;
  text-align: center;
  top: 20vh;
  padding: 0 16px;
}
.header h1 {
  font-family: Barlow-Bold;
  margin-bottom: 24px;
  font-size: 44px;
}
.header q {
  font-family: Barlow-Italic;
}

/* Browse Section */

.browseRoot h1 {
  font-family: Barlow-Bold;
  text-align: center;
  margin: 20px 0;
}
.browseTiles {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.browseTiles a {
  margin: 10px;
  padding: 10px;
}
.browseTiles p {
  margin: 5px 0;
}
.browseTiles img {
  width: 400px;
  border-radius: 10px;
  height: 260px;
}
.homePage {
  min-height: 78vh;
}

@media only screen and (max-width: 500px) {
  .browseTiles img {
    width: 280px;
    height: 175px;
  }
  .browseRoot h1 {
    font-size: 25px;
  }
  .browseTiles a {
    padding: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .homePage {
    min-height: 95vh;
  }
}

/* Footer Section */
.footer {
  background: #14213d;
  color: #fff;
  padding: 20px 0;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  margin: 10px 0;
}
.footer ul li {
  margin: 0 10px;
}
.footer a:hover {
  color: #FFA500;
}
.footer p {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  font-family: Barlow-Italic;
}
