.root ul {
  justify-content: center;
  margin: 50px 0;
}
.root {
  text-align: center;
}
.searchInput {
  color: #fff;
}
.tileImg {
  height: 200px;
  width: 140px !important;
}
.formRoot {
  width: 100%;
  max-width: 500px;
  margin: 40px 0 30px 0;
}
.tileRoot {
  display: flex;
  text-align: initial;
  max-width: 1000px;
  border-radius: 12px;
  margin: 50px auto;
  background: #f5f4f4;
  box-shadow: #14213d 0px 20px 30px -10px;
}
.tileContent {
  padding: 20px;
}
.tileContent span {
  font-family: Barlow-Italic;
}
.tileContent p {
  margin: 10px 0;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.tileContent svg {
  margin-left: 5px;
}
.tileContent p:first-child {
  display: flex;
  font-size: 22px;
  font-family: Barlow-Bold;
  margin: 0 8px 0 0 !important;
}
.tileContent p:first-child:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .tileRoot {
    margin: 50px 16px;
  }
}
@media only screen and (max-width: 600px) {
  .tileRoot {
    display: block;
  }
  .tileImg {
    height: 150px;
    width: 100px !important;
    margin: 0 auto;
  }
  .formRoot {
    padding: 0px 16px;
  }
  .formRoot label {
    padding: 0 16px;
  }
}
